div.headerContainer{
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background-color: lightblue;
    justify-content: space-around;
}

.searchContainer{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.searchContainer input{
    width: 350px;
}

fa-icon{
    margin-left: -20px;
    color:grey;
}