<div class="userInfo">
    <img src="{{post.userPicture}}" alt="Avatar"/>
    <h3 class="name">{{post.name}}</h3>
    <h3 class="username">{{post.username}}</h3>
</div>
<div class="postContent">
    <h5>{{post.description}}</h5>
    <img src="{{post.postPicture}}" />
</div>
<div class="analytics">
    <div class="shares" (click)="sharePost()"><fa-icon [icon]="icon_Share"></fa-icon> {{post.shares}}</div>
    <div class="dislikes"(click)="dislikePost()"><fa-icon [icon]="icon_Dislike"></fa-icon> {{post.dislikes}}</div>
    <div class="likes" (click)="likePost()"><fa-icon [icon]="icon_Like"></fa-icon> {{post.likes}}</div>
</div>

